
.entry-textfield {
  width:250px;
  margin-bottom: 1.5%;
  margin-top:1.5%;
}

.entry-submit {
  margin-top:2.5%;
  width: 250px;
}

.entry-link {
  color: grey;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.entry-link-secondary:hover {
  color: red;
  text-decoration: underline;
}

.entry-link-primary:hover {
  color: #6d58ff;
  text-decoration: underline;
}

@media only screen and (max-width:440px) {
  .entry-submit{
    margin-top:10%;
  }
}

@media only screen and (min-width:450px) and (max-width:750px) {
  .entry-submit{
    margin-top:4%;
  }
}